In [ ]:
import tqdm

import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

from sklearn import preprocessing # LabelEncoder
from sklearn.metrics import mean_squared_error # if squared=False; RMSE

from EnvDL.core import *
from EnvDL.dna import *

In [ ]:
cache_path = '../nbs_artifacts/01.03_g2fc_prep_matrices/'
ensure_dir_path_exists(dir_path = cache_path)

In [ ]:
load_from = '../nbs_artifacts/01.02_g2fc_imputation/'

meta = pd.read_csv(load_from+'meta0.csv')
# meta['Date_Planted'] = meta['Date_Planted'].astype(int)
# meta['Date_Harvested'] = meta['Date_Harvested'].astype(int)
phno = pd.read_csv(load_from+'phno0.csv')
soil = pd.read_csv(load_from+'soil0.csv')
wthr = pd.read_csv(load_from+'wthr0.csv')
# wthrWide = pd.read_csv(load_from+'wthrWide0.csv')
cgmv = pd.read_csv(load_from+'cgmv0.csv')

In [ ]:
mask = ((phno.Yield_Mg_ha.notna())) # This used to allow for missing yield so long as they were in 
# 2022. Now that the 2022 data is available they should be excluded.
phno = phno.loc[mask, :].reset_index().drop(columns = 'index')
phno = phno.loc[:, ['Env', 'Year', 'Hybrid', 'Yield_Mg_ha']]

# Data Prep

## Prep CVs

In [ ]:
# YMat[phno.Year == 2021]

## Prep y

In [ ]:
YMat = np.array(phno.Yield_Mg_ha)

## Genomic data

### Unique Genotypes (many to one lookup)
There are huge data savings to be had from keeping only deduplciated genomic data in memory in the GPU.

In [ ]:
uniq_hybrids = list(set(phno.Hybrid))
uniq_hybrids[0:3]

['GEMN-0192_PHK76_0008/LH244',
 'GEMN-0192_PHK76_0011/LH244',
 'B73_PHG39-24/PHZ51']

In [ ]:
# check snp records and only keep phenotypes with snp data
snps_found = [exists_geno((taxa_to_filename(taxa = ith_hybrid))) for ith_hybrid in  uniq_hybrids]

In [ ]:
temp = pd.DataFrame(zip(uniq_hybrids, snps_found), columns=['Hybrid', 'SNPS'])
temp.loc[(temp.SNPS != True)]

                      Hybrid   SNPS
8       PHW65_MOG_0115/PHT69  False
87               GT603/TX777  False
106        BGEM-0120-N/LH195  False
153              PHB47/PHN37  False
353          MBS3785/MBS5618  False
...                      ...    ...
4703    PHW65_MOG_0119/LH195  False
4810             TX149/LH195  False
4845  PHN11_PHW65_0109/LH195  False
4949              TX739/PB80  False
4958          TX110/DK87916W  False

[92 rows x 2 columns]

In [ ]:
import os

In [ ]:
print('Genotypes flagged as missing that exist with different capitalization:')
missing_hybrids = temp.loc[(temp.SNPS != True), ['Hybrid']]
# quick check that some of these aren't just differing in capitalization
missing_hybrids_list = [e.replace('/', '__').lower() for e in list(missing_hybrids.Hybrid)]
print(
    [e for e in [e.lower for e in os.listdir('../data/zma/g2fc/genotypes/snps/')] if e in missing_hybrids_list]
)

Genotypes flagged as missing that exist with different capitalization:
[]

In [ ]:
print(
    str(missing_hybrids.merge(phno, how = 'left').shape[0]
       )+' observations ('+str(round(100 * (missing_hybrids.merge(phno, how = 'left').shape[0]/phno.shape[0]), 3)
       )+'%) missing genotype.'
)

2736 observations (2.015%) missing genotype.

In [ ]:
# limit to phno with snp data
phno_geno = temp.loc[(temp.SNPS == True)].merge(phno, how = 'left')
phno_geno.to_csv(cache_path+'phno_geno_filter.csv', index=False)
phno_geno

                            Hybrid  SNPS        Env  Year  Yield_Mg_ha
0       GEMN-0192_PHK76_0008/LH244  True  DEH1_2022  2022    12.545943
1       GEMN-0192_PHK76_0008/LH244  True  GAH1_2022  2022     3.010474
2       GEMN-0192_PHK76_0008/LH244  True  GAH2_2022  2022     9.881560
3       GEMN-0192_PHK76_0008/LH244  True  IAH1_2022  2022     9.081722
4       GEMN-0192_PHK76_0008/LH244  True  IAH2_2022  2022    12.958411
...                            ...   ...        ...   ...          ...
133052           W10004_0781/PHZ51  True  TXH2_2021  2021     9.363053
133053           W10004_0781/PHZ51  True  TXH2_2021  2021    12.904405
133054           W10004_0781/PHZ51  True  TXH3_2021  2021     4.506091
133055           W10004_0781/PHZ51  True  TXH3_2021  2021     2.649423
133056           W10004_0781/PHZ51  True  WIH2_2021  2021    11.093558

[133057 rows x 5 columns]

In [ ]:
# restrict to observations with snp data
phno_geno = phno.merge(phno_geno.loc[:, ['Hybrid', 'SNPS']].drop_duplicates(), how  = 'left')
phno_geno = phno_geno.loc[(phno_geno.SNPS == True)].copy()
phno_geno

              Env  Year             Hybrid  Yield_Mg_ha  SNPS
0       DEH1_2014  2014        M0088/LH185     5.721725  True
1       DEH1_2014  2014        M0143/LH185    11.338246  True
2       DEH1_2014  2014        M0003/LH185     6.540810  True
3       DEH1_2014  2014        M0035/LH185    10.366857  True
4       DEH1_2014  2014        M0052/LH185    10.908814  True
...           ...   ...                ...          ...   ...
135788  WIH3_2022  2022  W10010_0337/LH244    11.975018  True
135789  WIH3_2022  2022  W10010_0346/LH244    12.971193  True
135790  WIH3_2022  2022  W10010_0358/LH244    13.499769  True
135791  WIH3_2022  2022  W10010_0381/LH244    10.831640  True
135792  WIH3_2022  2022  W10010_0452/LH244     9.526524  True

[133057 rows x 5 columns]

In [ ]:
assert phno_geno.Yield_Mg_ha.isna().sum() == 0

In [ ]:
# produce the final lookup table

In [ ]:
obs_lookup = phno_geno.loc[:, ['Hybrid']
                             ].drop_duplicates(
                             ).reset_index(
                             ).rename(columns = {'index':'Is_Phno_Idx'}
                             ).reset_index().rename(columns = {'index':'Geno_Idx'})
# add in obs idx in phno
obs_lookup = phno_geno.merge(obs_lookup).reset_index().rename(columns = {'index':'Phno_Idx'})
obs_geno_lookup = obs_lookup.loc[: ,  ['Phno_Idx', 'Geno_Idx', 'Is_Phno_Idx']]
obs_geno_lookup

        Phno_Idx  Geno_Idx  Is_Phno_Idx
0              0         0            0
1              1         0            0
2              2         0            0
3              3         0            0
4              4         0            0
...          ...       ...          ...
133052    133052      4922       127772
133053    133053      4923       128009
133054    133054      4923       128009
133055    133055      4924       128745
133056    133056      4925       130015

[133057 rows x 3 columns]

In [ ]:
obs_geno_lookup

        Phno_Idx  Geno_Idx  Is_Phno_Idx
0              0         0            0
1              1         0            0
2              2         0            0
3              3         0            0
4              4         0            0
...          ...       ...          ...
133052    133052      4922       127772
133053    133053      4923       128009
133054    133054      4923       128009
133055    133055      4924       128745
133056    133056      4925       130015

[133057 rows x 3 columns]

In [ ]:
# save out obs_geno_lookup
np.save(cache_path+'obs_geno_lookup.npy', np.asarray(obs_geno_lookup))
obs_geno_lookup.to_csv(cache_path+'obs_geno_lookup.csv', index=False)

### One Hot Encode G (Deduplicated)

In [ ]:
# If phno and GMat observations are 1:1, then GMat is 135793, 2250. After deduplicating this will become 4926, 2250. That's only 3.6%!
# Doing this removes several hybrids so it's actually a little smaller 4926, 2203

In [ ]:
obs_geno_lookup.head()

   Phno_Idx  Geno_Idx  Is_Phno_Idx
0         0         0            0
1         1         0            0
2         2         0            0
3         3         0            0
4         4         0            0

In [ ]:
temp = obs_geno_lookup.drop(columns = 'Phno_Idx').drop_duplicates().reset_index(drop=True)

mask = phno_geno.index.isin(list(obs_geno_lookup['Is_Phno_Idx'].drop_duplicates()))
temp = phno_geno.loc[mask, ]#'Hybrid']
temp = temp.reset_index(drop = True) # drop so that the index in the DataFrame and ndarray match
temp

            Env  Year                        Hybrid  Yield_Mg_ha  SNPS
0     DEH1_2014  2014                   M0088/LH185     5.721725  True
1     DEH1_2014  2014                   M0143/LH185    11.338246  True
2     DEH1_2014  2014                   M0003/LH185     6.540810  True
3     DEH1_2014  2014                   M0035/LH185    10.366857  True
4     DEH1_2014  2014                   M0052/LH185    10.908814  True
...         ...   ...                           ...          ...   ...
4921  IAH2_2022  2022  GEMN-0096_LH212HT_0014/LH244    10.929844  True
4922  IAH2_2022  2022                   NC370/LH244     5.306059  True
4923  IAH3_2022  2022  GEMN-0097_LH212HT_0046/LH244    13.179435  True
4924  IAH4_2022  2022    GEMN-0225_PHK76_0025/LH244    11.453161  True
4925  MIH1_2022  2022    GEMN-0097_PHN46_0012/LH244     6.012986  True

[4926 rows x 5 columns]

In [ ]:
temp = pd.concat([temp, temp.Hybrid.str.split('/', expand=True)], axis=1
        ).rename(columns = {0:'P0', 1:'P1'})

uniq_parents = list(set(pd.concat([temp['P0'], temp['P1']])))

In [ ]:
if os.path.exists(cache_path+'GMat.npy'):
    GMat = np.load(cache_path+'GMat.npy')
else:
    GMat = np.zeros([temp.shape[0], len(uniq_parents)])

    for j in tqdm.tqdm(range(len(uniq_parents))):
        for parent in ['P0', 'P1']:
            mask = (temp[parent] == uniq_parents[j]) 
            GMat[temp.loc[mask, ].index, j] += 1
            
    np.save(cache_path+'GMat.npy', GMat)

In [ ]:
np.save(cache_path+'GMatNames.npy', uniq_parents)

In [ ]:
# confirm there are two parents encoded for each observation
assert 2 == np.min(np.sum(GMat, axis = 1))

### Nucleotides

In [ ]:
# Convert IUPAC codes into one hot
# https://www.bioinformatics.org/sms/iupac.html
IUPAC = ['unk', 'A', 'C', 'G', 'T', 'K', 'M', 'N', 'R', 'S', 'W', 'Y']
IUPAC = dict(zip(IUPAC, [i for i in range(len(IUPAC))])) # begin with unk.
IUPAC

{'unk': 0,
 'A': 1,
 'C': 2,
 'G': 3,
 'T': 4,
 'K': 5,
 'M': 6,
 'N': 7,
 'R': 8,
 'S': 9,
 'W': 10,
 'Y': 11}

In [ ]:
put_cached_result(cache_path+'ACGT_OneHot_dict.pkl', IUPAC)

In [ ]:
if os.path.exists(cache_path+'ACGT_OneHot.npy'):
#     ACGT = np.load(cache_path+'ACGT_OneHot.npy')
    pass
else:
    temp = obs_geno_lookup.drop(columns = 'Phno_Idx').drop_duplicates().reset_index(drop=True)

    # use the first Hybrid to figure out what the length of the sequence is.
    i = 0
    phno_idx = temp.loc[i, 'Is_Phno_Idx']
    ith_hybrid = phno.loc[phno_idx, 'Hybrid']
    geno_seq_len = len(get_geno(taxa_to_filename(taxa = ith_hybrid))[1:])    

    # setup ndarray to hold data
    ACGT = np.ndarray(shape = (temp.shape[0],        # obs
                               geno_seq_len,         # values
                               len(IUPAC.keys())+1)) # channels

    # This is inefficient but needs only to be run once.
    # go over observations, channels, fill in values

    for i in tqdm.tqdm(temp.index): 
        phno_idx = temp.loc[i, 'Is_Phno_Idx']
        ith_hybrid = phno.loc[phno_idx, 'Hybrid']
        res = get_geno(taxa_to_filename(taxa = ith_hybrid)) 
        res = res[1:] # drop taxa

        res = [e.strip('\n') for e in res] # remove end of line

        for key in IUPAC.keys():
            IUPAC_mask = [True if e == key else False for e in res]
            ACGT[i, 
                 IUPAC_mask, 
                 IUPAC[key]] = 1  

    # Swap axes to match pytorch convention
    ACGT = np.swapaxes(ACGT, 1, 2)

    np.save(cache_path+'ACGT_OneHot.npy', ACGT)

### Nucleotide percents

In [ ]:
if os.path.exists(cache_path+'ACGT.npy'):
#     ACGT = np.load(cache_path+'ACGT.npy')
    pass
else:
    temp = obs_geno_lookup.drop(columns = 'Phno_Idx').drop_duplicates().reset_index(drop=True)

    
    # use the first Hybrid to figure out what the length of the sequence is.
    i = 0
    phno_idx = temp.loc[i, 'Is_Phno_Idx']
    ith_hybrid = phno.loc[phno_idx, 'Hybrid']
    geno_seq_len = len(get_geno(taxa_to_filename(taxa = ith_hybrid))[1:])    
    
    # setup ndarray to hold data
    ACGT = np.ndarray(shape = (temp.shape[0], geno_seq_len, 4))

    for i in tqdm.tqdm(temp.index):
        phno_idx = temp.loc[i, 'Is_Phno_Idx']
        ith_hybrid = phno.loc[phno_idx, 'Hybrid']
        res = get_geno(taxa_to_filename(taxa = ith_hybrid)) 
        res = res[1:] # drop taxa
        res = list_to_ACGT(in_seq = res)
        ACGT[i, :, :] = res[None, :, :]
        
    # Swap axes to match pytorch convention
    # (4926, 125891, 4)
    ACGT = np.swapaxes(ACGT, 1, 2)

    # set missings to 0 
    ACGT[np.isnan(ACGT)] = 0

    np.save(cache_path+'ACGT.npy', ACGT)

### Hilbert Nucleotide percents

In [ ]:
if os.path.exists(cache_path+'ACGT_hilb.npy'):
#     ACGT_hilb = np.load(cache_path+'ACGT_hilb.npy')
    pass
else:
    ACGT_hilb = np_3d_to_hilbert( np.swapaxes(ACGT, 1, 2) ) # swap channels back to dim 2 before running

    # ACGT_hilb.shape
    # (4926, 256, 512, 4)
    # Pytorch standard has channels second
    ACGT_hilb = np.swapaxes(ACGT_hilb, 1, 3)
    ACGT_hilb = np.swapaxes(ACGT_hilb, 2, 3)

    # set missings to 0
    ACGT_hilb[np.isnan(ACGT_hilb)] = 0

    np.save(cache_path+'ACGT_hilb.npy', ACGT_hilb)

## Make S Matrix

In [ ]:
SMat = phno.loc[:, ['Env']].merge(soil.drop(columns = ['Unnamed: 0', 'Year'])).drop(columns = ['Env'])
SMatNames = list(SMat)
SMat = np.array(SMat)

## Prep W

In [ ]:
# Input: (N,Cin,Lin)(N,Cin,Lin) or (Cin,Lin)(Cin,Lin)

In [ ]:
WMatNames = list(wthr.drop(columns = ['Unnamed: 0', 'Env', 'Year', 'Date', 'DOY']))
WMat = np.zeros([   # Pytorch uses
    phno.shape[0],  # N
    len(WMatNames), # Cin
    np.max(wthr.DOY)# Lin
])

In [ ]:
# loop through all obs, but only add each env once (add to all relevant obs)
added_envs = []
for i in tqdm.tqdm(phno.index):
    env = phno.loc[i, 'Env']

    if env in added_envs:
        pass
    else:
        mask = (phno.Env == env)
        WMat_idxs = phno.loc[mask, ].index

        # selected data is transposed to match correct shape
        wthr_mask = (wthr.Env == env)
        WMat[WMat_idxs, :, :] = wthr.loc[wthr_mask, 
                                   ].sort_values('DOY'
                                   ).drop(columns = ['Unnamed: 0', 'Env', 
                                                     'Year', 'Date', 'DOY']).T

        added_envs += [env]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 135793/135793 [00:03<00:00, 37117.30it/s]

## Prep CGMV?

In [ ]:
MMatNames = list(cgmv.drop(columns = ['Unnamed: 0', 'Env', 'Year']))

In [ ]:
MMat = np.zeros([   
    phno.shape[0],  
    len(MMatNames)
])

In [ ]:
# loop through all obs, but only add each env once (add to all relevant obs)
added_envs = []
for i in tqdm.tqdm(phno.index):
    env = phno.loc[i, 'Env']

    if env in added_envs:
        pass
    else:
        mask = (phno.Env == env)
        MMat_idxs = phno.loc[mask, ].index

        # selected data is transposed to match correct shape
        cgmv_mask = (cgmv.Env == env)
        MMat[MMat_idxs, :] = cgmv.loc[cgmv_mask, 
                                ].drop(columns = ['Unnamed: 0', 'Env', 'Year'])

        added_envs += [env]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 135793/135793 [00:02<00:00, 65191.00it/s]

# Save data
This will streamline model generation. I'll just need to load these files in and can directly begin modeling.

In [ ]:
np.save(cache_path+'SMatNames.npy', SMatNames)
np.save(cache_path+'WMatNames.npy', WMatNames)
np.save(cache_path+'MMatNames.npy', MMatNames)

In [ ]:
phno.to_csv(cache_path+'phno.csv', index=False)

In [ ]:
np.save(cache_path+'YMat.npy', YMat)
np.save(cache_path+'SMat.npy', SMat)
np.save(cache_path+'WMat.npy', WMat)
np.save(cache_path+'MMat.npy', MMat)